*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url('../Assets/Calistoga.png');
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container{
    margin-top: 20vh;
    max-width: 100vh;
    background: #850000;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
}

.container:hover{
    box-shadow: 0px 0px 15px 3px #850000;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.temp-icon{
    font-size: 40px;
    color:#fa0000;
    text-shadow: 0.12rem 0.2rem black;
}

h1{
    color:#fa0000;
    letter-spacing: 1.2px;
    font-size: 30px;
    text-shadow: 0.12rem 0.2rem black;
}

#celcius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input{
    flex: 5;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
}

input:hover {
    box-shadow: 0px 0px 15px 3px #fa0000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/*input{
    -moz-appearance: textfield;
}*/

.icon{
    flex: 1;
    height: 52px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #FF7000;
    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
}


.button{
    margin-top: 20px;
    text-align: center;
}

.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    background: #FF7000;
    color: #850000;
    font-family: cursive;
}

.button button:hover{
    background: #FFBF00;
    color: #fa0000;
    box-shadow: 0 0 1rem #FFBF00;
}

@media(min-aspect-ratio: 16/9){
    .section video{
        width: 100;
        height: auto;
    }
}

@media (max-width:993px){
    html{
        background-image: url(../Assets/Calistoga.png);
    }
    .container{
        padding: 10px;
        max-width: 45rem;
        height: 22rem;
    }
}

@media (max-width: 874px) {
    html{
        font-size:55%;
    }
    .container{
        height: 40rem;
        margin-top: 20vh;
    }
}

@media (max-width:768px) {
    html{
        font-size:55%;
    }
    .container{
        max-width: 40rem;
        height: 30rem;
        margin-top: 15vh;
    }
    h1{
        font-size: 25px;
    }
    .temp-icon{
        font-size: 25px;
    } 
    input{
        font-size: 18px;
        font-weight: 600;
        height: 34px;
    }
    .icon{
        height: 34px;
        line-height: 34px;
        padding: 0 5px;
        font-size: 20px;
    }
    .button{
        margin-top: 12px;
    }    
    .button button{
        padding: 8px 25px;
        font-size: 18px;
    }
}    

@media (max-width:661px) {
    .container{
        max-width: 30rem;
        height: 25rem;
        margin-top: 10vh;
    }
    h1{
        font-size: 19px;
    }
    .temp-icon{
        font-size: 18px;
    } 
    input{
        height: 25px;
        width: 200px;
    }   
    .icon{
        height: 25px;
        line-height: 25px;
    } 
    .button button{
        padding: 6px 20px;
        font-size: 15px;
    }    
}

@media (max-width:590px) {
    .container{
        margin-top: 12vh;
    }
}

@media (max-width:550px) {
    .container{
        max-width: 27rem;
        height: 22rem;
        margin-top: 10vh;
    }
    h1{
        font-size: 16px;
    }
    .temp-icon{
        font-size: 16px;
    } 
    #celcius, #fahrenheit, #kelvin{
        margin-top: 15px;
    }    
    input{
        width: 195px;
    } 
    .button{
        margin-top: 8px;
    }    
    .button button{
        padding: 5px 15px;
        font-size: 15px;
    }    
}

@media (max-width:490px) {
    .container{
        max-width: 24rem;
        height: 20rem;
        margin-top: 15vh;
    }
    h1{
        font-size: 14px;
    }
    .temp-icon{
        font-size: 14px;
    } 
    #celcius, #fahrenheit, #kelvin{
        margin-top: 12px;
    }    
    input{
        font-size: 15px;
        height: 22px;
        width: 170px;
    } 
    .icon{
        height: 22px;
        line-height: 23px;
        font-size: 12px;
    }  
    .button button{
        font-size: 13px;
    }    
}

@media (max-width:440px) {
    .container{
        margin-top: 10vh;
    }
}

@media (max-width:420px) {
    .container{
        max-width: 20rem;
        height: 18rem;
        margin-top: 8vh;
    }
    h1{
        font-size: 11px;
    }
    .temp-icon{
        font-size: 11px;
    } 
    #celcius, #fahrenheit, #kelvin{
        margin-top: 12px;
    }    
    input{
        font-size: 12px;
        height: 20px;
        width: 140px;
        border-radius: 8px 0 0 8px;
    } 
    .icon{
        height: 20px;
        line-height: 21px;
        font-size: 12px;
        border-radius: 0 8px 8px 0;
    }  
    .button button{
        padding: 3px 10px;
        font-size: 11px;
    }    
}

@media (max-width:388px) {
    .container{
        max-width: 18rem;
        height: 13rem;
        
    }
    h1{
        font-size: 9px;
    }
    .temp-icon{
        font-size: 10px;
    } 
    #celcius, #fahrenheit, #kelvin{
        margin-top: 10px;
    }    
    input{
        font-size: 8px;
        height: 12px;
        width: 120px;
        border-radius: 4px 0 0 4px;
    } 
    .icon{
        height: 12px;
        line-height: 12px;
        font-size: 8px;
        border-radius: 0 4px 4px 0;
    }  
    .button{
        margin-top: 5px;
    }  
    .button button{
        font-size: 8px;
    }    
}
